* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  min-height: 100vh;
  padding: 40px;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 40px;
  border: 5px solid black;

}

h1 {
  text-align: right;
  margin-bottom: 30px;
  color: white;
  font-size: 2.8rem;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  transition: transform 0.2s ease;

}

.card:hover {
  transform: translateY(-5px);
}

.form-card {
  margin-bottom: 30px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #00f2fe;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  background: #4facfe;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #00c6ff;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#places-list {
  list-style: none;
}

#places-list li {
  padding: 10px;
  margin: 5px 0;
  background: #f4f4f4;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#places-list li:hover {
  background: #e0f7ff;
}

#place-details p {
  margin-bottom: 10px;
}
